<div
  class="fixed z-10 inset-0 overflow-y-auto"
  [ngClass]="statsModalOpen ? '' : 'hidden'"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="
      flex
      items-end
      justify-center
      min-h-screen
      pt-4
      px-4
      pb-20
      text-center
      sm:block sm:p-0
    "
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >
    <div
      class="
        inline-block
        align-bottom
        bg-white
        rounded-lg
        px-4
        pt-5
        pb-4
        text-left
        overflow-hidden
        shadow-xl
        transform
        transition-all
        sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6
      "
    >
      <div>
        <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-1 lg:grid-cols-1">
          <div
            class="
              relative
              bg-white
              pt-5
              px-4
              pb-12
              sm:pt-6 sm:px-6
              shadow
              rounded-lg
              overflow-hidden
            "
          >
            <dt>
              <div class="absolute bg-green-400 rounded-md p-3">
                <!-- Heroicon name: outline/users -->
                <svg
                  class="h-6 w-6 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                  />
                </svg>
              </div>
              <p class="ml-16 text-sm font-medium text-gray-500 truncate">
                Total Comments
              </p>
            </dt>
            <dd class="ml-16 pb-6 flex items-baseline sm:pb-7">
              <p class="text-2xl font-semibold text-gray-900">
                {{ article.comments_count }}
              </p>
              <div
                class="absolute bottom-0 inset-x-0 bg-gray-50 px-4 py-4 sm:px-6"
              >
                <div class="text-sm">
                  <a
                    href="{{ article.url }}/comments"
                    target="_"
                    class="
                      font-medium
                      text-black
                      hover:text-green-400
                      transition-all
                      ease-in-out
                    "
                  >
                    View all<span class="sr-only">
                      Total Comments Statistics</span
                    ></a
                  >
                </div>
              </div>
            </dd>
          </div>

          <div
            class="
              relative
              bg-white
              pt-5
              px-4
              sm:pt-6 sm:px-6
              shadow
              rounded-lg
              overflow-hidden
            "
          >
            <dt>
              <div class="absolute bg-green-400 rounded-md p-3">
                <i class="far fa-thumbs-up fa-2x text-white"></i>
              </div>
              <p class="ml-16 text-sm font-medium text-gray-500 truncate">
                Number of likes
              </p>
            </dt>
            <dd class="ml-16 pb-6 flex items-baseline sm:pb-7">
              <p class="text-2xl font-semibold text-gray-900">
                {{ article.positive_reactions_count }}
              </p>
            </dd>
          </div>

          <div
            class="
              relative
              bg-white
              pt-5
              px-4
              sm:pt-6 sm:px-6
              shadow
              rounded-lg
              overflow-hidden
            "
          >
            <dt>
              <div class="absolute bg-green-400 rounded-md p-3">
                <i class="fas fa-book-open fa-2x text-white"></i>
              </div>
              <p class="ml-16 text-sm font-medium text-gray-500 truncate">
                Estimated reading time
              </p>
            </dt>
            <dd class="ml-16 pb-6 flex items-baseline sm:pb-7">
              <p class="text-2xl font-semibold text-gray-900">
                {{ article.reading_time_minutes }} minute(s)
              </p>
            </dd>
          </div>
        </dl>
        <div class="mt-5 sm:mt-6">
          <button
            (click)="triggerCloseModal()"
            type="button"
            class="
              inline-flex
              justify-center
              w-full
              rounded-md
              border border-transparent
              shadow-sm
              px-4
              py-2
              bg-green-400
              text-base
              font-medium
              text-white
              hover:bg-green-500
              focus:outline-none
              sm:text-sm
              transition-all
              ease-in-out
            "
          >
            Go Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
