<article class="overflow-hidden rounded-lg shadow-lg">
  <app-article-statistics-modal
    [article]="article"
    [statsModalOpen]="statsModalOpen"
    (modalClose)="toggleStatsModal()"
  ></app-article-statistics-modal>
  <a href="#">
    <img
      alt="Placeholder"
      class="block h-auto w-full max-h-72"
      src="{{ article.social_image }}"
    />
  </a>

  <header class="flex items-center justify-between leading-tight p-2 md:p-4">
    <h1 class="text-lg">
      <a
        class="
          text-black
          rounded-md
          text-sm
          font-medium
          hover:text-green-400
          transition-all
          ease-in-out
        "
        href="{{ article.url }}"
        target="_"
      >
        {{ article.title }}
      </a>
    </h1>
    <p class="text-grey-darker text-sm">{{ article.readable_publish_date }}</p>
  </header>

  <footer class="flex items-center justify-between leading-none p-2 md:p-4">
    <a
      class="
        flex
        items-center
        text-black
        rounded-md
        text-sm
        font-medium
        hover:text-green-400
        transition-all
        ease-in-out
      "
      href="https://dev.to/{{ article.user.username }}"
      target="_"
    >
      <img
        alt="Placeholder"
        class="block rounded-full max-w-8 max-h-8"
        src="{{ article.user.profile_image }}"
      />
      <p class="ml-2 text-sm">{{ article.user.name }}</p>
    </a>
    <button
      (click)="toggleStatsModal()"
      type="button"
      class="
        inline-flex
        items-center
        px-2.5
        py-1.5
        border border-transparent
        text-xs
        font-medium
        rounded
        shadow-sm
        text-white
        bg-green-500
        hover:bg-green-400
        focus:outline-none
        transition-all
        ease-in-out
      "
    >
      View post statistics
    </button>
    <div>
      <a
        href="https://github.com/{{ article.user.github_username }}"
        target="_"
        class="pr-6"
      >
        <i
          class="
            fab
            fa-github fa-2x
            hover:text-gray-500
            cursor-pointer
            transition-all
            ease-in-out
          "
        ></i>
      </a>
      <a
        href="https://twitter.com/{{ article.user.twitter_username }}"
        target="_"
      >
        <i
          class="
            fab
            fa-twitter fa-2x
            hover:text-blue-500
            cursor-pointer
            transition-all
            ease-in-out
          "
        ></i>
      </a>
    </div>
  </footer>
</article>
